<%- include('parts/html_head') %>

<%- include('parts/navbar') %>

<div class="container">
    <% if( typeof success !== 'undefined' ){ %>
        <div class="alert alert-<%= type %>" role="alert">
            <%= info %>
        </div>
    <% } %>
    <div class="row">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <form method="post">
                        <div class="form-group">
                            <label for="sales_id">Sales ID</label>
                            <input type="text" class="form-control" id="sales_id"
                                   name="sales_id"
                                   value="<%= row.sales_id %>">
                            <small id="emailHelp" class="form-text text-muted"></small>
                        </div>

                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" id="name"
                                   name="name"
                                   value="<%= row.name %>">
                            <small id="emailHelp" class="form-text text-muted"></small>
                        </div>

                        <div class="form-group">
                            <label for="birthday">Birthday</label>
                            <input type="text" class="form-control" id="birthday"
                                   name="birthday"
                                   value="<%= row.birthday %>">
                            <small id="emailHelp" class="form-text text-muted"></small>
                        </div>

                        <button type="submit" class="btn btn-primary">Modify</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('parts/html_foot') %>
