<%- include('parts/html_head') %>

<%- include('parts/navbar') %>

<div class="container">
    <div class="row">
        <div class="col-lg-6">

            <% if(locals.listInfo){ %>
            <div id="listInfo" class="alert alert-<%= listInfo.type %>" role="alert">
                <%= listInfo.text %>
            </div>
                <script>
                    setTimeout(function(){
                        $('#listInfo').slideUp();
                    }, 3000);
                </script>
            <% } %>

            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th scope="col"><i class="fas fa-trash-alt"></i></th>
                    <th scope="col">#</th>
                    <th scope="col">sales id</th>
                    <th scope="col">name</th>
                    <th scope="col">birthday</th>
                    <th scope="col"><i class="fas fa-edit"></i></th>
                </tr>
                </thead>
                <tbody>
                <% for(let i in rows){ %>
                    <tr>
                        <td>
                            <a href="javascript:delete_one(<%= rows[i].sid %>)">
                                <i class="fas fa-trash-alt"></i>
                            </a>
                        </td>
                        <td><%= rows[i].sid %></td>
                        <td><%= rows[i].sales_id %></td>
                        <td><%= rows[i].name %></td>
                        <td><%= rows[i].birthday2 %></td>
                        <td>
                            <a href="/sales3/edit/<%= rows[i].sid %>">
                                <i class="fas fa-edit"></i>
                            </a>
                        </td>
                    </tr>
                <% } %>
                </tbody>
            </table>

            <div><%# JSON.stringify(locals) %></div>
        </div>


    </div>


</div>
<script>
    function delete_one(sid) {
        if(confirm(`是否要刪除編號 ${sid} 的資料?`)){
            location.href = '/sales3/remove/' + sid;
        }
    }
</script>
<%- include('parts/html_foot') %>
