<%- include('parts/html_head') %>

<%- include('parts/navbar') %>

<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th scope="col">name</th>
                    <th scope="col">age</th>
                    <th scope="col">id</th>
                </tr>
                </thead>
                <tbody>
                <% for(let i=0; i<sales.length; i++){ %>
                    <tr>
                        <td><%= sales[i].name %></td>
                        <td><%= sales[i].age %></td>
                        <td><%= sales[i].id %></td>
                    </tr>
                <% } %>
                </tbody>
            </table>
        </div>


    </div>


</div>
<%- include('parts/html_foot') %>
