<%- include('parts/html_head') %>

<%- include('parts/navbar') %>
<style>
    small.form-text {
        color: red;
    }
</style>
<div class="container">

    <div id="responseInfo" class="alert alert-danger" role="alert" style="display: none">

    </div>

    <div class="row">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <form method="post" onsubmit="return checkForm()">
                        <div class="form-group">
                            <label for="sales_id">Sales ID</label>
                            <input type="text" class="form-control" id="sales_id"
                                   name="sales_id">
                            <small class="form-text"></small>
                        </div>

                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" id="name"
                                   name="name">
                            <small class="form-text"></small>
                        </div>

                        <div class="form-group">
                            <label for="birthday">Birthday</label>
                            <input type="text" class="form-control" id="birthday"
                                   name="birthday">
                            <small class="form-text"></small>
                        </div>

                        <button type="submit" class="btn btn-primary">Create</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var $sales_id = $('#sales_id');
    var $name = $('#name');
    var $birthday = $('#birthday');
    var fileds = [$sales_id, $name, $birthday];
    var btn = $('.btn');
    var responseInfo = $('#responseInfo');


    function checkForm(){

        // 回復原狀
        fileds.forEach(function(val){
            val.css('border', '1px solid #CCCCCC');
            val.next().text('');
        });
        responseInfo.hide();


        btn.hide();

        var isPass = true;

        if(! /[A-Z]\d{3}/.test($sales_id.val())){
            isPass = false;
            $sales_id.css('border', '1px solid red');
            $sales_id.next().text('員工編號不符合格式');
        }

        if($name.val().length < 2){
            isPass = false;
            $name.css('border', '1px solid red');
            $name.next().text('請輸入正確的員工姓名');
        }

        if(! /\d{4}\-\d{2}\-\d{2}/.test($birthday.val())){
            isPass = false;
            $birthday.css('border', '1px solid red');
            $birthday.next().text('請輸入正確的員工生日');
        }

        if(isPass){
            $.post('/sales3/add-ajax', $(document.forms[0]).serialize(), function(data){
                console.log(data);

                if(data.success){
                    responseInfo.removeClass('alert-danger').addClass('alert-success');
                } else {
                    responseInfo.removeClass('alert-success').addClass('alert-danger');
                }
                responseInfo.text(data.info);
                responseInfo.show();
                btn.show();
            }, 'json');
        } else {
            btn.show();
        }

        return false;
    }
</script>

<%- include('parts/html_foot') %>
