<%- include('parts/html_head') %>

<%- include('parts/navbar') %>

<div class="container">
    <div class="row">
        <div class="col-lg-6">

            <form method="post">
                <div class="form-group">
                    <label for="email">Email address</label>
                    <input type="text" class="form-control" id="email" name="email" placeholder="Enter email">
                    <small class="form-text text-muted"><%= locals.email ? email : '' %></small>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="text" class="form-control" id="password" name="password" placeholder="Password">
                    <small class="form-text text-muted"><%= locals.password ? password : '' %></small>
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>

        </div>
    </div>
</div>
<%- include('parts/html_foot') %>
