<%- include('parts/html_head') %>

<%- include('parts/navbar') %>

<div class="container">


    <% if(locals.result){ %>
        <div class="card" style="width: 18rem;">
            <img src="<%= avatar %>" class="card-img-top" alt="">
            <div class="card-body">
                <h5 class="card-title"><%= name %></h5>
            </div>
        </div>
    <% } %>


    <div class="row">
        <div class="col-lg-6">

            <form method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" name="name">
                </div>
                <div class="form-group">
                    <label for="avatar">Avatar</label>
                    <button class="btn btn-primary" type="button" onclick="triggerUp()">選擇檔案</button>
                    <span id="my_file"></span>
                    <input type="file" class="form-control" id="avatar" name="avatar"
                           style="display: none">
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>

        </div>
    </div>
</div>
<script>
    function triggerUp() {
        $('#avatar').click();
    }

    $('#avatar').change(function(){
        console.log($(this)[0].files[0]);
        $('#my_file').text($(this)[0].files[0].name);
    });

</script>
<%- include('parts/html_foot') %>
