<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MySite <%= locals.title ? title : '' %></title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/fontawesome/css/all.css">

    <script src="/lib/jquery-3.4.1.js"></script>
    <script src="/bootstrap/js/bootstrap.js"></script>
</head>
<body>